@using BTCPayServer.Client
<li class="nav-item nav-item-sub" permission="@Policies.CanModifyServerSettings">
    <a class="nav-link" asp-controller="UIFloresta" asp-action="Settings" id="FlorestaNav">Floresta</a>
</li>
